.product-card {
    margin-top: 103px;
    padding: 16px;
    width: 386px;
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        position: static;
        width: 354px;
        height: 330px;
        left: 16px;
        top: 16px;
    }

    figcaption {
        margin-top: 24px;
        width: 100%;
    }
}