.title {
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 68px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
}