.navigation {
    display: inline-block;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        li {        
            a {
                display: block;
                padding: 0 36px;
                line-height: 80px;
                height: 80px;
                text-decoration: none;

                &:hover, &.active {
                    color: #5ece7b;
                }
            }  
        } 
    }
}