.header {
    // background-color: aqua;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 80px;
    // margin-bottom: 80px;
    padding: 0 100px;

    ul {
        list-style: none;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}