.mini-cart {
    position: absolute;
    width: 325px;
    top: 80px;
    right: 100px;
    padding: 0 16px 16px 16px;
    background: #ffffff;
    z-index: 99;

    .mini-title {
        font-weight: bold;
        font-size: 16px;
        padding-top: 8px;
    }

    .mini-products {
        max-height: 60vh;
        margin-bottom: 10px;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .mini-total {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}