.actions {
    height: 50%;
    position: absolute;
    top: 0;
    right: 100px;
    margin: 25px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .currency {
        cursor: pointer;

        .active-currency { margin-right: 10px; }

        .currencies ul {
            display: block;
            position: absolute;
            box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);

            li {
                padding: 0 40px 0 20px;
                margin: 20px 0;
            }
        } 
    }

    .cart { 
        margin-left: 22px;

        a {
            display: block;
            height: 20px;

            span {
                position: absolute;
                top: 0;
                right: -12px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #1d1f22;
                color: #ffffff;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}