.actions {
    display: inline-block;
    position: absolute;
    right: 101px;
    top: 50%;
    transform: translateY(-50%);

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
        li {
            margin: 0 22px;
            cursor: pointer;

            .currencies ul {
                display: block;
                position: absolute;
                box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);

                li {
                    padding: 0 40px 0 20px;
                    margin: 20px 0;
                }
            }
        } 
    }
}